
body{
    color: blue;
    background-color:purple ;
}

  

   #menu{ background-color: #e3f2fd;
   color:black;
    }

  .informacion{
   
   color: aqua;
  }
  
  .listlink{
  text-align: center;
  text-shadow: black;
  }