<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Sistem Universiteti</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
                     
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
         
  <link rel="stylesheet" href="../../static/css/Preetty-Footer.css" th:href="@{'css/Preetty-Footer'}"  type="text/css" media="screan"/>
  <link rel="stylesheet" href="../../static/css/Preetty-Header.css" th:href="@{'css/reetty-Header'}"  type="text/css" media="screan"/>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{'css/styles'}"  type="text/css" media="screan"/>
        
       <link rel="stylesheet" href="/css/styles.css"/>
    
       <link rel="stylesheet" href="/css/newstyle.css"/>
  
        
</head>
<body style=" margin: 0 px;">


<div th:insert="Menu :: navbar"  class="container-fluid" style="padding: 0%; padding-left: 0%; padding-right: 0%; margin: 0 px; width: 100%;"></div>


<div>
  <p th:text="  ${ngelen} "> </p>
   
  </div>
  
  <br/>   <br/>   <br/>  <br/>
  
  
  
    <div th:insert="home :: slideshow">  </div>
    
<div th:insert="footer :: foter">  </div>
     
 
   
        
        
         
        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
           <script src="js/custom.js"></script>
   
    
</body>
</html>